* {
  box-sizing: border-box;
}

#top-decoration {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 10px;
  width: 100%;
  background-image: url("/pictures/flag.png");
  z-index: 100;
}

#first-page {
  background: linear-gradient(rgba(0, 34, 128, 0.733), rgba(0, 34, 128, 0.733)), url("/pictures/imperial.png");
  
  /* Box positiom */
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;

  /* Background position */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
  width: 100%;
  height: 100%;
}

.intro {
  color: white;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 50px;
}

#my-name {
  padding-top: 13%;
  letter-spacing: 2px;
}

.inst {
  font-weight: 100;
  letter-spacing: 1px;
}

#splitter {
  width: 250px;
  height: 5px;
  background-color: white;
}

.title {
  position: absolute;
  top: 5000px;
}